
:root {
  // Colors
  --purple-50: #f5f3ff;
  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --purple-800: #5b21b6;
  --purple-900: #4c1d95;

  // Typography
  --fontsize-sm: 13px;
  --fontsize-md: 15px;
  --fontsize-lg: 17px;

  --lineheight-sm: 22px;
  --lineheight-md: 24px;
  --lineheight-lg: 28px;
}
